@import '../../core';

.resellers {
    --resellers--icon--size: #{rem(25)};

    $this: &;

    &__items {
        @include grid(1, 2, 3);

        padding-top: var(--space--s);
    }

    &__item {
        &.has-background {
            padding: var(--space--s);
        }

        &__heading {
            &::after {
                right: 0;
            }
        }

        &__inner {
            display: flex;
            flex-flow: column;
            gap: var(--space--s);

            > * {
                display: flex;
                gap: var(--space--xxs);
            }
        }

        &__icon {
            width: var(--resellers--icon--size);
            color: var(--accent--color);

            svg {
                stroke: currentColor;
                fill: currentColor;
            }
        }

        &__country {
            // padding-left: calc(var(--resellers--icon--size) + var(--space--xxs));
            margin-top: calc(var(--space--s) * -1);
        }
    }
}
