@import '../../core';

.statistic {
    --statistic--padding: var(--space--s);
    --statistic--icon--width: #{rem(70)};
    --statistic--icon--height: #{rem(70)};

    $this: &;

    &.has-background {
        #{$this}__inner {
            padding: var(--statistic--padding) var(--block--padding-x);
        }
    }

    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;

        @include mq(large) {
            grid-template-areas: 'value icon'
            'label icon';
            grid-template-columns: 1fr var(--statistic--icon--width);
        }
    }

    &__value {
        --heading--margin-bottom: 0;

        @include typestyle-h2;

        color: var(--accent--color);

        @include mq(large) {
            grid-area: value;
        }

    }

    &__label {
        font-weight: var(--type--1--font-weight--semi-bold);

        @include mq(large) {
            grid-area: label;
        }
    }

    &__icon {
        height: var(--statistic--icon--height);
        color: var(--accent--color);

        @include mq(large) {
            grid-area: icon;
            width: var(--statistic--icon--width);
        }
    }

    &[class^=icon--type--ribbon-],
    &.icon--type--ribbon-long,
    &.icon--type--ribbon-short {
        --statistic--icon--width: #{rem(350)};
        --statistic--icon--height: #{rem(35)};

        #{$this}__icon {
            @include mq(large) {
                transform: translateX(calc(3 * var(--statistic--padding)));
            }
        }
    }

}
