@import './styles/header-menu';

$site-header--bottom--background: 'brand-1';
$site-header--top--background: 'white';

:root {
    --site-header--bottom: auto;
}

.site-header {
    --site-header--height: #{rem(120)};
    --site-header--logo-width: #{rem(120)};
    --site-header--logo-height: #{rem(52)};
    --site-header--menu--duration: 250ms;
    --site-header--menu--ease: ease-in-out;

    --site-header--spacing: var(--space--xs);

    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);

    $this: &;

    z-index: var(--z-index--site-header);
    width: 100%;
    height: var(--site-header--height);
    background-color: var(--color--#{$site-header--bottom--background});
    transition: height var(--site-header--menu--duration) var(--site-header--menu--duration);

    @include mq('site-header') {
        --site-header--logo-width: #{rem(388)};
        --site-header--logo-height: #{rem(72)};
        --site-header--height: calc(#{rem(42)} + var(--space--l) + var(--site-header--logo-height));
        --site-header--spacing: var(--space--m);

        background-color: transparent;
    }

    @include mq($until: 'site-header') {
        &--positioned {
            position: absolute;

            ~ .main {
                margin-top: calc(var(--site-header--bottom));
            }
        }

        &.is-open {
            position: fixed;
            height: calc(100% - var(--wp--admin-bar-height));
            transition: height var(--site-header--menu--duration) 0s;
        }
    }

    &__inner {
        position: relative;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: min-content auto;

        @include mq('site-header') {
            @include align-width--m;

            gap: var(--site-header--spacing);
            grid-auto-flow: column;
            grid-template-columns: var(--site-header--logo-width) auto;
            grid-template-rows: unset;
        }
    }

    &__top {
        display: grid;
        height: var(--site-header--height);
        align-items: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        background-color: var(--color--#{$site-header--top--background});
        gap: var(--site-header--spacing);
        grid-auto-flow: column;
        // grid-template-columns: minmax(min-content, var(--site-header--logo-width)) auto;
        justify-items: flex-end;

        @include mq($until: 'site-header') {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'logo burger'
                                 'strapline gap';
            row-gap: var(--space--xxxs);
            padding-top: var(--space--xxs);
        }

        @include mq('site-header') {
            padding-top: var(--space--l);
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
            grid-template-rows: 1fr auto;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            gap: 0;
            justify-items: flex-start;
        }
    }

    &__bottom {
        --button--padding-y: 0.3em;
        --button--padding-x: 1em;

        display: grid;
        justify-content: center;
        gap: var(--site-header--spacing);
        grid-auto-rows: min-content;
        grid-template-rows: auto;

        @include mq($until: 'site-header') {
            --link--color: var(--color--foreground);
            --link--color--hover: var(--color--foreground);

            @include color-context($site-header--bottom--background);

            overflow: auto;
            width: 100%;
            background: transparent;
            grid-auto-flow: row;
            opacity: 0;
            pointer-events: none;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
            visibility: hidden;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: var(--space--l);

            .site-header.is-open & {
                opacity: 1;
                pointer-events: all;
                transition: all var(--site-header--menu--duration) var(--site-header--menu--ease) var(--site-header--menu--duration);
                visibility: visible;
            }

            > *:first-child {
                margin-top: var(--site-header--spacing);
            }

            > *:last-child {
                padding-bottom: var(--site-header--spacing);
            }
        }

        @include mq('site-header') {
            width: auto;
            align-items: center;
            justify-content: flex-end;
            grid-auto-flow: column;
            grid-template-columns: 1fr auto auto;
            grid-template-rows: var(--space--l) var(--site-header--logo-height);
            grid-row-gap: 0;
            grid-column-gap: var(--space--s);
            grid-template-areas: 'gap language contact'
                                'menu menu menu';
        }
    }

    &__burger {
        --burger--color: var(--color--white);
        --burger--background-color: var(--color--teal);
        --burger--border-color: var(--color--teal);
        --burger--color--hover: var(--color--teal);
        --burger--background-color--hover: var(--color--seafoam);
        --burger--border-color--hover: var(--color--seafoam);

        margin-right: calc(var(--burger--padding) * -0.5);

        @include mq('site-header') {
            display: none;
        }

        @include mq($until: 'site-header') {
            grid-area: burger;
        }
    }

    &__logo {
        display: flex;
        width: 100%;
        height: 100%;

        @include mq($until: 'site-header') {
            grid-area: logo;
        }

        > * {
            object-fit: contain;
            object-position: left center;
        }

    }

    &__strapline {
        @include typestyle-h4;

        text-transform: uppercase;

        @include mq($until: 'site-header') {
            grid-area: strapline;
            justify-self: center;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        margin-top: auto;

        @include mq($until: 'site-header') {
            a {
                --button--background-color: var(--color--seafoam);
                --button--border-color: var(--color--seafoam);
            }
        }

        @include mq('site-header') {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0;
            grid-area: contact;
        }
    }

    &__language-switcher {
        @include mq('site-header') {
            grid-area: language;
        }
    }

    .header-search {
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);

        @include mq('site-header') {
            padding-right: 0;
            padding-left: 0;
        }
    }

    &__language-switcher {
        position: relative;

        &__button {
            --button--background-color: var(--color--seafoam);
            --button--border-color: var(--color--seafoam);
            --button--color: var(--color--grey);
            --button--background-color--hover: var(--color--teal);
            --button--border-color--hover: var(--color--teal);
            --button--color--hover: var(--color--white);
        }

        &__inner {
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            z-index: 2;
            box-shadow: var(--box-shadow--1);
        }

        &__items {
            @include list-reset-hard;

            text-align: center;

            &.has-background {
                padding: var(--space--s);
            }
        }

        &__item {
            --link--text-decoration: none;

            margin-bottom: var(--space--xs);

            &.is-active {
                font-weight: var(--type--1--font-weight--semi-bold);
            }
        }
    }
}
