@mixin blockquote {
    --blockquote--border-width: var(--border-width--s);
    --blockquote--padding: var(--space--s);
    --blockquote--border-offset: 0.5em;
    --block--margin-top: var(--space--responsive--m);
    --block--margin-bottom: var(--space--responsive--m);
    --block--max-width: var(--width--responsive--xs);
    --block--icon--size: #{rem(70)};

    @include no-first-last-margin;
    @include mask-icon();

    position: relative;
    padding-right: calc(var(--blockquote--padding) + var(--block--icon--size));
    border: 0;

    &.has-background {
        padding: var(--blockquote--padding);

        @include mq(large) {
            padding-right: calc(var(--blockquote--padding) + var(--block--icon--size));
        }
    }

    > :not(cite):not(.wp-block-quote__citation) {
        @include typestyle-h3;

        padding-right: var(--block--icon--size);
        font-weight: var(--type--1--font-weight);
    }

    > * {
        position: relative;
        z-index: 2;
    }

    &::before {
        --accent--color: var(--color--white);

        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--accent--color);
        content: '';
        inset: 0;
        opacity: 0.5;
    }

    &::after {
        position: absolute;
        z-index: 3;
        top: var(--blockquote--padding);
        right: var(--blockquote--padding);
        width: var(--block--icon--size);
        height: var(--block--icon--size);
        background: var(--accent--color);
        mask-image: url(#{asset-path('images/icons/quote.svg')});
    }
}
