@mixin button-variables {
    // --button--font-size: #{rfs(18, 22)};

    --button--padding-y: 0.5em;
    --button--padding-x: 1.5em;

    --button--border-width: var(--border-width--s);
    --button--border-radius: 0;

    --button--background-color: var(--color--teal);
    --button--border-color: var(--color--teal);
    --button--color: var(--color--white);

    --button--background-color--hover: var(--color--seafoam);
    --button--border-color--hover: var(--color--teal);
    --button--color--hover: var(--color--grey);

    --button--gap: 0.5em;

    // Small Button
    --button--small--padding-y: 0;
    --button--small--padding-x: 0.7em;

    --button--icon-size: 1.4em;
}
