@use 'sass:color';

// ---------------------------------------------------
// Colors
// ---------------------------------------------------
// Gutenberg color palette colors also need to be set in granola/config.php

$colors: (
    'base': (
        'teal': (
            'color': #367273,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
                '--accent--color': var(--color--sand),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'mulberry': (
            'color': #985a57,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
                '--accent--color': var(--color--peach),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'khaki': (
            'color': #9b9378,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
                '--accent--color': var(--color--sand),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'seafoam': (
            'color': #96d5d2,
            'foreground': var(--color--grey),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
                '--accent--color': var(--color--mulberry),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'yellow': (
            'color': #f3dd93,
            'foreground': var(--color--grey),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
                '--accent--color': var(--color--teal),
                '--accent--color--dark': var(--color--grey),
                '--button--background-color': var(--color--yellow),
                '--button--color': var(--color--grey),
                '--button--border-color': var(--color--yellow),
                '--button--background-color--hover': var(--color--grey),
                '--button--border-color--hover': var(--color--grey),
                '--button--color--hover': var(--color--yellow),
            ),
        ),
        'peach': (
            'color': #fab49b,
            'foreground': var(--color--grey),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
                '--accent--color': var(--color--yellow),
                '--accent--color--dark': var(--color--grey),
                '--button--background-color': var(--color--peach),
                '--button--color': var(--color--grey),
                '--button--border-color': var(--color--peach),
                '--button--background-color--hover': var(--color--grey),
                '--button--border-color--hover': var(--color--grey),
                '--button--color--hover': var(--color--peach),
            ),
        ),
        'sand': (
            'color': #f0e0ca,
            'foreground': var(--color--grey),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
                '--accent--color': var(--color--teal),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'red': (
            'color': #b6435d,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'white': (
            'color': #fff,
            'foreground': var(--color--grey),
            'properties': (
                '--link--color': var(--color--teal),
                '--link--color--hover': var(--color--teal),
                '--accent--color': var(--color--mulberry),
                '--accent--color--dark': var(--color--grey),
            ),
        ),
        'black': (
            'color': #222,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'grey': (
            'color': #424c57,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
                '--accent--color': var(--color--mulberry),
                '--accent--color--dark': var(--color--yellow),
            ),
        ),
        'brand-1': (
            'namedColor': 'teal',
        ),
        'brand-2': (
            'namedColor': 'peach',
        ),
        'brand-3': (
            'namedColor': 'yellow',
        ),
        'brand-4': (
            'namedColor': 'khaki',
        ),
        'brand-5': (
            'namedColor': 'red',
        ),
        'foreground': (
            'namedColor': 'teal',
        ),
        'background': (
            'namedColor': 'white',
        ),
        'style-guide': (
            'color': #d4444d,
        ),
        'error': (
            'namedColor': 'red',
        )
    ),
    // Define alternative themes here
    //
    // 'darkmode': (
    //     'brand-1': (
    //         'color': #0047af,
    //     ),
    //     'brand-2': (
    //         'color': #f6cbda,
    //     ),
    //     'brand-3': (
    //         'color': #f4be44,
    //     ),
    //     'foreground': (
    //         'color': #fff,
    //     ),
    //     'background': (
    //         'color': #222,
    //     ),
    // )
);

// Output colors at :root or under theme classes.
// Color custom properties look like this: --color--brand-1
@mixin color-variables {
    @each $theme, $colormaps in $colors {
        $theme-name: nth($theme, 1);
        $selector: '.theme--#{$theme}';

        @if $theme == 'base' {
            $selector: '&';
        }

        #{$selector} {
            @each $colorname, $colormap in $colormaps {
                $propname: '--color--#{$colorname}';

                $value: color($colorname, $theme);

                #{$propname}: #{$value};
                #{$propname}--hsl: #{hsl-from-hex($value)};

                #{$propname}--h: #{color.hue($value)};
                #{$propname}--s: #{color.saturation($value)};
                #{$propname}--l: #{color.lightness($value)};
            }
        }
    }
}
