@import '../../core';

.team {
    --resellers--icon--size: #{rem(25)};
    --team--media--ratio: 3 / 2;
    --team--media--size: #{rem(150)};
    --team--inner--padding: var(--space--s);

    $this: &;

    &__items {
        @include grid(1, 2, 3);

        padding-top: var(--space--s);
    }

    &__item {
        position: relative;

        &.has-background {
            padding: var(--team--inner--padding) var(--block--padding-x);

            @include mq(medium) {
                padding: var(--team--inner--padding);
            }
        }

        &__heading {
            --heading--margin-top: var(--space--xs);

            line-height: 1;
        }

        &__inner {
            display: flex;
            flex-flow: column;
            gap: var(--space--s);

            > * {
                display: flex;
                gap: var(--space--xxs);
            }
        }

        &__icon {
            width: var(--resellers--icon--size);
            color: var(--accent--color);

            svg {
                stroke: currentColor;
                fill: currentColor;
            }
        }

        &__job_title {
            padding-right: calc(var(--team--media--size) + var(--space--xxs));
            margin-left: calc((var(--resellers--icon--size) + var(--space--xxs)) * -1);
            font-weight: var(--type--1--font-weight--semi-bold);
        }

        &__biography {
            display: block;
        }

        &__image {
            aspect-ratio: var(--team--media--ratio);
            overflow: visible;

            img {
                z-index: 1;
            }

            &::after {
                opacity: .5;
                position: absolute;
                top: calc(var(--team--inner--padding) * -1);
                left: calc(var(--team--inner--padding) * -1);
                width: calc(var(--team--media--size)/ 2) ;
                height: calc(var(--team--media--size) / 2);
                z-index: 0;
                background: var(--accent--color);
                content: "";
            }
        }
    }
}
