.site-footer {
    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);
    --site-footer__images--aspect-ratio: 28 / 13;

    $this: &;
    $footer-breakpoint--small: 400px;

    padding-top: var(--space--l);
    padding-bottom: var(--space--l);

    &__inner {
        @include grid(1, 2);
    }

    &__top {

    }

    &__logo {

        a {
            display: inline-block;
            width: 100%;
            aspect-ratio: 388 / 74;


            .pill {
                fill: var(--color--grey);
            }

            .pill-gap {
                fill: var(--color--background);

            }
        }

        img {
            display: inline-block;
            width: 100%;
        }
    }

    &__top-text {
        @include no-first-last-margin;

        p {
            margin-bottom: 0;
        }

        a {
            @include link--2;
        }

        > * + * {
            margin-top: var(--space--xxs);
        }
    }

    &__menu {
        $menu: &;

        &__inner {
            @include list-reset-hard;

            display: grid;
            gap: var(--space--xxs);
        }

        a {
            @include link--2;
            @include button--arrow;
        }
    }

    &__bottom {
        --heading--margin-bottom: var(--space--xxxs);

        @include grid(1, 2);

        padding-top: var(--space--base);
        border-top: var(--border--1);
    }
}
