.page-header {
    --page-header--spacing: var(--space--s);
    --page-header--inset-image--size: #{rem(100)};
    --page-header--inset-image--aspect-ratio: 530 / 290;
    --page-header--padding-top: var(--space--responsive--m);
    --page-header--padding-bottom: var(--space--responsive--xs);
    --page-header--subheading--max-width: #{rem(500)};
    --page-header--heading--max-width: var(--page-header--subheading--max-width);
    --page-header--align: left;
    --page-header--text-align: left;
    --page-header--grid-alignment-x: left;
    --page-header--overlay-opacity: 20%;
    --page-header--padding-top: var(--space--xl);
    --page-header--padding-bottom: var(--space--xl);
    --page-header--box-width: #{rem(200)};
    --page-header--box-height: #{rem(250)};

    $this: &;
    $internal-z-index: 100; // Local stacking.

    @include no-first-last-margin;

    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: var(--width--responsive--m);
    isolation: isolate; // Create local stacking context.
    justify-items: var(--page-header--grid-alignment-x);

    @include mq(large) {
        --page-header--inset-image--size: #{rem(150)};
    }

    &.has-background {
        --page-header--padding-top: var(--space--layout);
        --page-header--padding-bottom: var(--space--layout);
    }

    &__inner {
        position: relative;
        z-index: $internal-z-index; // Above background image.
        display: grid;
        flex-flow: column nowrap;
        width: 100%;
        padding-top: var(--page-header--padding-top);
        padding-bottom: var(--page-header--padding-bottom);
        justify-items: var(--page-header--grid-alignment-x);
        text-align: var(--page-header--text-align);
    }

    &__content {
        padding-top: var(--space--m);
    }

    &__heading {
        @include typestyle-h1;

        max-width: var(--page-header--heading--max-width);
        margin-top: 0;
        margin-bottom: 0;
    }

    &__subheading {
        @include no-first-last-margin;
        @include typestyle-h4;

        max-width: var(--page-header--subheading--max-width);
        margin-top: var(--page-header--spacing, var(--space--base));
    }

    &__back-link {
        position: absolute;
        z-index: $internal-z-index; // Above background image.
        top: 0;
        left: 0;
        width: 100%;
        padding-top: var(--space--responsive--xs);
        text-align: left;

        &__inner {
            @include align-width--m;
        }

        a {
            --link--text-decoration: none;
            --link--text-decoration--hover: underline;

            @include link--foreground;
        }
    }

    &__meta {
        @include typestyle-meta;

        margin-top: var(--page-header--spacing, var(--space--base));
    }

    &__labels {
        --grid--row-gap: var(--space--xxs);
        --grid--column-gap: var(--space--xxs);

        margin-top: var(--page-header--spacing, var(--space--base));

        .flex-list {
            justify-content: center;
        }
    }

    &__buttons {
        --grid--row-gap: var(--space--xxs);
        --grid--column-gap: var(--space--xxs);

        margin-top: var(--page-header--spacing, var(--space--base));

        .flex-list {
            justify-content: center;
        }
    }

    &--inset-image {
        #{$this}__inner {
            @include mq(large) {
                grid-template-columns: 1fr #{rem(534)};
            }

            &::after {
                left: calc(var(--page-header--subheading--max-width) + var(--page-header--box-width) - var(--space--m));
                height: var(--space--l);
                opacity: 1;
                background: var(--color--white);
            }
        }
    }

    &__inset-image {
        z-index: 1;
        width: 100%;
        margin-bottom: var(--space--base);
        margin-left: auto;

        @include mq(large) {
            order: 2;
        }

        &-inner {
            // width: var(--page-header--inset-image--size);
            // height: var(--page-header--inset-image--size);
            aspect-ratio: var(--page-header--inset-image--aspect-ratio);
        }
    }

    &__background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &-inner {
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: var(--color--black);
                content: '';
                mix-blend-mode: multiply;
                opacity: var(--page-header--overlay-opacity);
            }
        }
    }

    &--type--article {
        #{$this}__heading {
            @include typestyle-h2;
        }
    }

    &--no-image {
        padding-top: var(--space--l);

        @include mq($until: 'site-header') {
            padding-bottom: var(--space--l);
        }

        #{$this}__inner {
            width: 100%;

            &::before,
            &::after {
                content: none;
            }

            &.has-background {
                padding-right: var(--space--m);
                padding-left: var(--space--xl);
                background: var(--page-header--background-color);
            }
        }

        :not(.has-background) {
            --page-header--padding-bottom: 0;
        }
    }

    &__inner {
        position: relative;

        &::before {
            @include typestyle-h4;

            position: absolute;
            top: 50%;
            left: calc(var(--page-header--subheading--max-width) + var(--space--m));
            width: var(--page-header--box-width);
            height: var(--page-header--box-height);
            background: var(--accent--color);
            content: '';
        }

        &::after {
            @include typestyle-h4;

            position: absolute;
            top: 75%;
            left: calc(var(--page-header--subheading--max-width) + var(--page-header--box-width));
            width: calc(var(--page-header--box-width) / 2);
            height: calc(var(--page-header--box-height) / 2);
            background: var(--accent--color);
            opacity: 0.5;
            content: '';
        }
    }

    &--home {
        --page-header--padding-bottom: var(--space--xs);

        #{$this}__content {
            padding: var(--space--m);
            background: var(--color--seafoam);
            text-align: center;

            @include mq(large) {
                z-index: 1;
                grid-column: 2 / 4;
                grid-row: 2;
                margin-top: -45%;
            }

            @include mq($until: large) {
                order: 2;
                z-index: 1;
                width: calc(100% - var(--space--l));
                margin: auto;
            }
        }

        #{$this}__inner {
            @include mq(large) {
                --page-header--padding-top: 0;

                grid-template-columns: 1.2fr 0.7fr 0.9fr 1fr;
            }

            &::before,
            &::after {
                content: none;
            }
        }

        #{$this}__inset-image:not(.image-secondary) {
            @include mq(large) {
                --page-header--inset-image--aspect-ratio: 612 / 408;

                grid-column: 1 / 3;
                grid-row: 1;
                transform: translateY(var(--space--xl));
            }

            @include mq($until: large) {
                order: 1;
                width: 60%;
                margin-left: 0;
                margin-right: auto;
                margin-bottom: calc(var(--space--base) * -1);
            }
        }

        #{$this}__inset-image.image-secondary {
            @include mq(large) {
                --page-header--inset-image--aspect-ratio: 578 / 365;

                grid-column: 3 / 5;
                grid-row: 1;
            }

            @include mq($until: large) {
                order: 3;
                width: 60%;
                margin-top: calc(var(--space--base) * -1);
                // margin-left: 0;
                // margin-right: auto;
            }
        }

        #{$this}__divider {
            @include grid(1, 2);

            width: 100%;

            @include mq(large) {
                grid-column: 1 / 5;
                grid-row: 3;
            }

            @include mq($until: large) {
                order: 4;
                grid-template-columns: 1fr 1fr;
            }

            .wp-block {
                @include mq(large) {
                    --divider--max-width: #{rem(350)};
                }
            }

            .icon--type--ribbon-short {
                --divider--icon-color: var(--color--peach);
            }

            .icon--type--ribbon-long {
                --divider--icon-color: var(--color--yellow);
            }
        }


    }
}
